# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ignore default dev thingies
.idea/
.vs/
.vscode/
.DS_Store
.venv


# app specific things
Pipfile.lock
settings*json
tokens.json
data/logs/api.log
data/turtle/*
data/temp/*
data/depotbeheer/*
*.http
*.db
oracle_scripts/

# my_folder
data/*
logs/*
tuts/*
try_outs/*
others/*
OLD/*
template/*
try_outs/*
cli_module/private/*
cli_module/data/*
cli_module/OLD/*
streets_to_concepts/data/*
concept/data/*